@import "tailwindcss";

:root {
  --background: #f6f8fc;
  --foreground: #212121;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
